<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/thoughts.css">
</head>

<body>
    <%- include('./includes/header.ejs') %>

    <main>
        <% if(blogs.length > 0){ %>

            <div class="blog-gallery">
                <% for(let blog of blogs){ %>
                    <div class="img-container">
                        <img src="<%= blog.blogThumbnailUrl %>" id="<%= blog.blogTitle %>">
                        <p><%= blog.blogTitle %></p>
                    </div>
                <% } %>
            </div>

            <% for(let blog of blogs){ %>
                <div class="modal <%= blog.blogTitle %>">
                    <div class="modal-text-area">
                        <h1><%= blog.blogTitle %></h1>
                        <br><br></br></br>
                        <%- blog.blogContent %>
                    </div>
                </div>
            <% } %>

        <% } else { %>
            <h1>Check in later for some blog posts!</h1>
        <% } %>

    </main>

    <script src="/js/thoughts.js" type="text/javascript"></script>

</body>

