<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/thoughts.css">
</head>

<body>
    <%- include('./includes/header.ejs') %>

    <main>
        <% if(blogs.length > 0){ %>

            <div class="blog-gallery">
                <% for(let blog of blogs){ %>
                    <div class="blog-card">
                        <div class="img-container">
                            <img src="<%= blog.blogThumbnailUrl %>" id="<%= blog.blogTitle %>">
                            <p><%= blog.blogTitle %></p>
                        </div>
                        <% if(isAuthenticated){ %>
                            <div class="blog-actions">
                                <a href="/admin/edit/<%= blog._id %>?edit=true" class="btn">Edit</a>
                                <form action="/admin/delete-blog" method="POST">
                                    <input type="hidden" value="<%= blog._id %>" name="blogId">
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                    <button class="btn" type="submit">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </div>

            <% for(let blog of blogs){ %>
                <div class="modal <%= blog.blogTitle %>">
                    <div class="modal-text-area">
                        <h1><%= blog.blogTitle %></h1>
                        <br><br></br></br>
                        <%- blog.blogContent %>
                    </div>
                </div>
            <% } %>

        <% } else { %>
            <h1>Check in later for some blog posts!</h1>
        <% } %>

        <% if(isAuthenticated){ %>
            <div class="add-new">
                <form action="/admin/add-blog" method="GET">
                    <button class="btn" type="submit">Add New Blog!</button>
                </form>
            </div>
        <% } %>

    </main>

    <script src="/js/thoughts.js" type="text/javascript"></script>

</body>

